.DS_Store

node_modules/
dist/

packages/iconoir-flutter/lib/

packages/iconoir-vue/src/*
!packages/iconoir-vue/src/IconoirProvider.vue
!packages/iconoir-vue/src/providerKey.ts

packages/iconoir-solid-js/src/*
