name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: ~/.pnpm-store
        key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
        restore-keys: |
          ${{ runner.os }}-
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
        registry-url: 'https://registry.npmjs.org'
    - uses: pnpm/action-setup@v2.1.0
      with:
        version: 6.27.1
        run_install: true
    - run: pnpm run build
    - run: pnpm run prepublish
      env:
        TAG_NAME: ${{ github.ref_name }}
    - run: git tag -d ${{ github.ref_name }} # We need to delete the tag in order to overwrite it.
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Release Version
        tagging_message: ${{ github.ref_name }}
        push_options: '--force'
    - run: pnpm -r publish --filter ./packages --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
