name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master # We have to checkout master or PNPM fails. Tag should be on master anyway.
      - uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          registry-url: 'https://registry.npmjs.org'
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.27.1
          run_install: true
      - uses: rhysd/changelog-from-release/action@v2
        with:
          file: packages/iconoir-flutter/CHANGELOG.md
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit: false
      - run: pnpm run build
      - run: pnpm run prepublish-all
        env:
          TAG_NAME: ${{ github.ref_name }}
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Release Version ${{ github.ref_name }}
          branch: master
      - run: git -c user.email="actions@github.com" -c user.name="GitHub Actions" tag -fa ${{ github.ref_name }} -m "${{ github.ref_name }}"
      - run: git push -f origin ${{ github.ref_name }}
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: pnpm -r publish --filter ./packages --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - uses: sakebook/actions-flutter-pub-publisher@v1.4.0
        with:
          credential: ${{ secrets.PUB_CREDENTIAL_JSON }}
          package_directory: ./packages/iconoir-flutter
