# TODO Action to create release on GitHub and publish npm packages
#
# name: Release
# 
# on:
#   push:
#     tags:
#       - "v[0-9]+.[0-9]+.[0-9]+"
# 
# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v2
#       - name: Release
#         uses: softprops/action-gh-release@v1
